.checkplease {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 25%;
    height: 10%;
    font-size: 25pt;
}

input {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

input.checkplease {
    width: 10px;
    padding: 10px;
}

label {
    display: inherit;
    align-items: flex-start;
}

button {
    margin: 5px auto;
    box-shadow: 2px 2px 2px rgb(17, 16, 16);
}